.doublepage {
    display: flex;
    width:100%;
    justify-content: center;
}

.doublecontainer {
    display: flex;
    width: auto;
    
    justify-content: center;
    padding-top: 15px;
    gap: 35px;

    overflow: hidden;
    justify-content: center;
}

.doublecolumn {
    overflow: hidden;
    justify-content: center;

}

.doubleslideviewport {
    overflow: hidden;
    width: auto;
    justify-items: center;

}

.textbox {
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
}

.textboxtoolstext {
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
}

.textboxtoolswrap {
    display:flex;
    color:#a1a1aa;
    /* :not(:last-of-type) */
    padding-bottom: 20px;
}

.textboxtoolswraplast { /* use this later */
    display:flex;
    color:#a1a1aa;
}

.textboxcenter {
    display:grid;
    justify-items: center;
    gap:5px;
}

.textboxleft {
    display:grid;
    justify-items: left;
    gap:5px;
}
.textboxleft2 {
    text-align: left;
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
}

.kitchenchaosviewport2 {
    max-width: 650px;
}

.kitchenchaosviewport1 {
    max-width: 900px;
}




.customlink {
    color: #ffa951;
    
    /* text-decoration-color: */
}
.customlink:hover{
    text-decoration: underline;
}
  

@media (max-width: 932px) {
    /* .doubleslideviewport {
        width: 92.5%
    } */
    .column {
        
    }
    .doublecontainer {
        gap: 20px;
        display: flex;
        flex-wrap: wrap; 
        
        padding-bottom: 0px;
        padding-top: 0px; 
        width:92.5%;
    }
    .doublepage {
        padding-top: 5px;

    }
    .textbox {
        width:90%;
    }

    .textboxleft {
        display:grid;
        justify-items: center;
        gap:5px;
    }
    .textboxleft2 {
        text-align: center;
        font-family: "futura-pt", sans-serif;
        font-size: 18px;
    }
}

/* 
padding-left: 160px;
    padding-right: 160px; */