.stars {
    color: #ffa951;
    /* gold #ffa951 yel #fecd3d*/
    font-size: 16px;
    padding-bottom: 6px;
    /* :not(:first-of-type) */
}

.stars:not(:first-of-type) {
    padding-top: 11px;
}


.text {
    color: #fff;
    font-size: 18px;
    font-family: "futura-pt", sans-serif;
}

.handwriting {
    color: #7b3d17;
    font-size: 22px;
    font-family: "brs";
    padding-bottom: 15px;
}

.aboutcontainer {
    margin-top:15px;
    display:grid;
    gap: 0px;
    align-items: center;
    text-align: center;
    /* font-family: "ss"; */
    
    font-style: normal;
}

.abouttextcontainer {
    padding-left: 25%;
    padding-right: 25%;  
}


.imageviewport {
    width:80%;
    max-width: 350px;
    padding-bottom: 5px;
}

.spotify {
    border-radius:15px;
    border: 0px;
    width: 400px; 
    height: 80px; 
}

@media (max-width: 932px) {
    .text {
        font-size: 15px;
    }
    .handwriting {
        font-size: 17px;
    }
    .aboutcontainer {
        margin-top:7.5px;
    }
    .abouttextcontainer {
        padding-left: 5%;
        padding-right: 5%;   
    }
    .imageviewport {
        width:70%;
    }
    .spotify {
        width: 95%; 
    }
}
