.container {
    margin-top:0px;
    
    display:grid;
    gap: 0px;
    align-items: center;
    text-align: center;
    /* font-family: "ss"; */
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    justify-items: center;
}

/* 
.cover {
    display: block;
    object-fit: cover;
    background-color: rgba(76, 0, 255);
    max-width:500px;
    min-height:266.88px;
    background-image: url("/images/pixelart.png");;
}

.cover:hover {
    object-fit: cover;
    background-color: rgb(0, 255, 98);
} 
*/

.project-covers {
    display: flex;
    flex-wrap: wrap; 
    width: 80%;
    
}
 

.project-cover {
    display: block;
    position: relative; }
    .project-cover.hold-space .cover-image:before {
      content: '';
      display: block;
      width: 100%; }
    .project-cover.hold-space .cover {
      left: 0;
      min-height: 100%;
      position: absolute;
      top: 0; }
    .project-cover .cover-image-wrap {
      overflow: hidden;
      position: relative; }
    .project-cover .cover-image {
      height:250px;
      position: relative;
      -webkit-transform: translateZ(0); }
      .project-cover .cover-image:after {
        -webkit-transition: background-color 0.2s ease, opacity 0.2s ease;
        -moz-transition: background-color 0.2s ease, opacity 0.2s ease;
        transition: background-color 0.2s ease, opacity 0.2s ease;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
    .project-cover .cover {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      min-height: 100%;
      overflow: hidden;
      width: 100%; }
      .project-cover .cover .cover__img {
        font-family: 'object-fit: cover;';
        height: calc(100% + 2px);
        left: 50%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 2px); 
        /* min-height:400px; */ }
        
        .project-cover .cover .cover__img.js-lazy {
          background-color: rgba(0, 0, 0, 0.03); }
        .project-cover .cover .cover__img.js-lazy.image-loaded {
          background-color: transparent; }
    .project-cover .cover-rollover {
      opacity: 0;
      visibility: hidden; }
    .project-cover:hover .cover-normal.has-rollover, .project-cover.touch-hover .cover-normal.has-rollover {
      opacity: 0;
      visibility: hidden; }
    .project-cover:hover .cover-rollover, .project-cover.touch-hover .cover-rollover {
      opacity: 1;
      visibility: visible; }
    .project-cover .title,
    .project-cover .date,
    .project-cover .custom1,
    .project-cover .custom2,
    .project-cover .description {
      clear: both; }
    .project-cover .description {
      white-space: pre-line;
      word-wrap: break-word; }
    .project-cover .details-inner {
      overflow: hidden; }


.project-cover {
  margin-right: 32px;
  width: calc(33.33333% - 21.33333px); }
  .project-cover.hold-space .cover-image:before {
    padding-bottom: 78.21782%; }
  .project-cover .cover-image {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    .project-cover .cover-image:after {
      background-color: #000000;
      opacity: 0; }
  .project-cover:hover .cover-image:after, .project-cover.touch-hover .cover-image:after {
    background-color: #78001b;
    opacity: 0.5; }
  .project-cover .cover-image,
  .project-cover .cover-image:after,
  .project-cover .cover {
    border-radius: 0px; }
  .project-cover .details-wrap {
    position: relative;
    max-width: 100%;
    padding-top: 8%;
    width: 100%; 
    opacity: 1;
    /* CHANGE THIS OPACITY HERE OF TEXT opacitytext opacity text*/
    height: 100%;
    position: absolute;
    top: 0;
    transition: opacity 0.15s ease; 
  
  }
  .project-cover .details {
    background: rgba(255, 255, 255, 0); 
    border-radius: 0px; 
    align-items: center;
    display: grid;
    height: 100%;
    position: relative;
    width: 100%;
    transition: background 0.2s ease; 
  
  }
    
  .project-cover .details-inner {
    padding-bottom: 0%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0%;
     }
  .project-cover .title {
    color: #ffffff;
    float: none;
    font-family: "chopin";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: auto;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
    text-transform: none;
    width: 100%; 
    min-height: 50px;
    
    display: flex;
    justify-content: center;
     align-items: center;
  }
.project-cover:nth-child(3n) {
    margin-right: 0; }
.project-cover:nth-child(3n + 1) {
    clear: left;
    margin-left: 0; }      

.project-cover:hover .details-wrap,
.project-cover.touch-hover .details-wrap {
  opacity: 1; }


.project-cover .cover-content-container {
    margin-bottom: 31px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px; 
    overflow: hidden;
    position: relative; 
    /* THIS IS WHERE U GO T CHANGE THE THING THAT I COULDNT FIND FOR A LONG TIME */
  }
  
.project-cover .details-wrap {
  left: 50%;
  -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   padding-bottom: 8%; }
  
.project-covers {
  padding-bottom: 0px;
  padding-top: 15px; }


@media (max-width: 932px) {
  .project-cover {
    margin-top:7.5px;
    margin-right: 0 !important;
    width: 100%; }
  .project-cover .title { 
    line-height: 17px;
    padding-bottom: 4px;
  }
  .project-cover .cover-image {
    height:175px;
  }
  .project-covers {
    padding-bottom: 0px;
    padding-top: 0px; 
    width:92.5% } 

  .project-cover .custom1,
  .project-cover .custom2,
  .project-cover .description {
    display: none; }
  .project-cover .cover-content-container {
    margin-bottom: 15px;
    margin-top: 2px; } 
}
  

