
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: grid;
  grid-template-rows: 5px 1fr 20px;
  align-items: center;
  justify-items: center;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 70px;
  padding-bottom: 50px;
  gap: 0px;
  font-family: var(--font-geist-sans);

}



@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}



.footer {
  grid-row-start: 3;
  align-items: center;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 932px) {
  .page {
    padding-bottom: 80px;
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
  }

  

  .main {
    /* align-items: center; */
  }

  .main ol {
    
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
    
  }
} */
.logo {
  filter: invert();
  
}

/*
 EMBLA BELOW
*/

.embla {
  margin: auto;
  --slide-height: 8rem;
  --slide-spacing: 25px;
  --slide-size: 100%
}

.main {}

.embla__viewport {
  overflow: visible;
}

.embla__container {

  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing)*-1)
    /*   margin-left: calc(var(--slide-spacing)*-1); */

}

.embla__slide {
  max-height: 480px;
  max-width: 1035px;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing)
}

.transform {
  transform: translate3d(0px, 0px, 0px);
}

/*
 SEPARATOR BELOW
*/

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #a1a1aa;
}


.separator::before,
.separator::after {
  content: ' ';
  flex: 1;
  border-bottom: 1.6px solid #28282A;
  margin-right: 5px;
  margin-left: 5px;
}

.separator:not(:empty)::before {
  margin-right: .5em;
}

.separator:not(:empty)::after {
  margin-left: .5em;
}

.font_semibold {
  font-size: 12px;
  font-weight: 600
}

.font_smallgray {
  font-size: 12px;
  color: #a1a1aa;
}

/*
HOVER COLOR CHANGE #ffde00
*/

.colorchange:hover {
  color: #ffde00;
  transition-duration: 1s;
  cursor: pointer;
  transition: 0.2s ease, color 0.2s ease;

}

/*
Header
*/

.headerContainer {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #0f0f0f;
  border-bottom: 1.6px solid #28282A;
}

.headerLeft {
  grid-row-start: 1;
  display: flex;
  flex-direction: row;

  gap: 24px;
  -webkit-align-items: center;
  align-items: center;

  padding-bottom: 0px;
  padding-left: 8%;
  padding-right: 0%;
  padding-top: 0px;
  position: top;

  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.header {
  grid-row-start: 1;
  display: flex;
  flex-direction: row;

  gap: 24px;
  -webkit-align-items: center;
  align-items: center;

  padding-bottom: 0px;
  padding-left: 37.5px;
  padding-right: 0%;
  padding-top: 0px;
  position: top;

  font-family: "chopin";
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.headerSpacing {
  width: 65%;
}

.headerRight {
  grid-row-start: 1;
  display: flex;
  flex-direction: row;

  gap: 0px;
  -webkit-align-items: center;
  align-items: center;

  padding-right: calc(8% - 13px);
  position: top;

  font-family: "hw";
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.headerHamburger {
  grid-row-start: 1;
  display: none;
  flex-direction: row;

  gap: 24px;
  -webkit-align-items: center;
  align-items: center;
  justify-items: right;
  padding-left:20%;
  padding-right: calc(8% - 13px);

  position: top;
  z-index: 2;

  font-family: "chopin";
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;

}

@media (max-width: 932px) {
  .header {
    display:none;
  }
  .headerHamburger {
    display: flex;
  }
  .headerRight {
    display:none;
  }
}

.headerRight a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerLeft img {
  flex-shrink: 0;
  min-width: 35px;
}

.header:scroll {
  background-color: #AD715C;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition-property: a;
}

.changeFontBold {
  /* font-family: "hwbold"; */
  /* color: #551414; */
  font-style: normal;
  font-weight: bold;
  font-size: 30px;

}

.changeFontBold:hover {
  color: #ffde00;
  transition-duration: 1s;
  cursor: pointer;
  transition: 0.2s ease, color 0.2s ease;
}



/* //HEADER TEMP */
/* 
.hamburg1 {

  position: fixed;
left: 0;
shadow-4xl
right: 0;
top: 3.5rem;
padding: 5px;
background: neutral;
border: 20px white;

display: grid;
gap: 2;
}

 */